<body>

*{
    box-sizing: border-box;
  }
h1{ 
  text-align: center;
  margin-bottom: 40px;
  font-family: cursive;
  font-size: 160%;
  font-weight: bold;
  color:  rgb(94, 148, 155);  
}
 
.MainBox{
  border: 3px solid black;
  padding: 10px;
  padding-top: 0px;
  background: linear-gradient(to right, #b8c5da, #3798d8);
  width: 90%;
  height: fit-content;
  font-family: cursive;
  font-size: 110%;
  overflow: hidden;
  margin: 0.75%;
}
.extra{
  border: 2px solid black;
  font-size: 110%; 
  width:30%; 
  text-align: center;
  padding-left: 2px;
  padding-right: 2px;
  margin-top: -15px ;
  margin-left: 72%;
  font-family:cursive;
  font-weight: bold;
  overflow: hidden;
  color: aliceblue; 
}.extra1{background-color:crimson;}
.extra2{background-color:blueviolet;}
.extra3{background-color:rgb(196, 63, 15);}
.row {
  width: 100%;
}
@media (min-width: 992px) {
   .full{
    float: left;
    width: 29%;
}}
@media (min-width: 768px) and (max-width: 991px){
  .tablet1, .tablet2 {
    float: left;
    
  }.tablet1{
    width: 45%;
  }.tablet2{
    width: 94.5%;
  }.extra1, .extra2{
    width:42%;
    margin-left: 62%;
  }
  .extra3{
    width: 20%;
    margin-left: 82%;
  }
}
}@media (max-width: 767px){
  .mobile {
    float: left;
    width: 98%; 
}
}
</body>